@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moodle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="Style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
    //verificare daca userul este autentificat
    //daca este autentificat, redirect catre unn link
    //altfel incarca alt model

    
    <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-text pull-left">
                <p>© 2017 University Official Moodle Program.</p>
            </div>
            <div class="navbar-text pull-right">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="text-center">
            <img src="http://ace.ucv.ro/images/bandou/1.jpg" alt="About Us Thumbnail">
            <h1>University Official Moodle Program.</h1>
            <br><br>

        </div>
        <div class="row">
            <div class="col-md-6">
                    <img src="https://t3.ftcdn.net/jpg/00/37/24/26/500_F_37242628_gJTDZTspIoTiZPtN8AVtMbgkgnpphWDE.jpg" alt="About Us Thumbnail">              
                <h3>@Html.ActionLink("Account Information", "About", "Home")</h3>
                <p>See all your personal information.</p>
            </div>

            <div class="col-md-6">
                <a href="#" class="thumbnail">
                    <img src="http://www.mlafgcw.org/images/image6.jpg" alt="Contact Us Thumbnail">
                </a>
                <h3>Courses</h3>
                <p>The list of the courses that you are asigned.</p>
            </div>


        </div>


</body>
</html>